{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>individual_iri</th>
        <th>individual_label</th>
      </tr>
    </thead>
    <tbody>
      {% for r in result %}
        <tr>
          <td>{{ r.individual_iri.value }}</td>
          <td>{{ r.individual_label.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}